* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

html,
body {
	height: 100%;
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	background-color: bisque;
	flex-direction: column;
}

form {
	background: rgb(116, 116, 116);;
	width: 500px;
	max-height: 400px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	color: #fff;
}

label {
	width: 100%;
	font-size: 20px;
}

input {
	width: 100%;
	font-size: 20px;
	border-radius: 4px;
	background-color: bisque;
}

button {
	margin: 20px auto 0;
	font-size: 20px;
	padding: 10px 20px;
	width: 150px;
	border-radius: 4px;
	background-color: bisque;
}
button:hover {
	background-color: #fff;
	transition: 1s;
}

.profiles {
	width: 500px;
	max-height: 600px;
	overflow-y: auto;
	background: rgb(116, 116, 116);
	color: #fff;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

li {
	background: gray;
	padding: 5px;
}

.circle {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.square {
	height: 50px;
	width: 50px;
}

.rectangle {
	width: 100px;
	height: 20px;
}
